@import "tailwindcss";

@theme {
    --font-sans: Helvetica,
                Arial,
                sans-serif;
    --font-system: -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                Oxygen-Sans,
                Ubuntu,
                Cantarell,
                "Helvetica Neue",
                sans-serif;
    --font-serif: "Times", "Times New Roman", "serif";
    --color-blue: blue;
    --color-hot: #ff1493;

    --color-article: rgb(85, 85, 85);
    --color-article-bg: #fefefe;

}

.link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-blue);
}