@import "tailwindcss";

@theme {
    --font-sans: "Helvetica", "Arial", "sans-serif"; 
    --font-serif: "Times New Roman";
    --color-blue: blue;
    --color-hot: #ff1493;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-blue);
}