---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <a href="/" class="link">
        <div class="w-full bg-blue-200 h-2"></div>
        <div class="w-full bg-pink-200 h-2"></div>
        <div class="w-full bg-white h-2"></div>
        <div class="w-full bg-pink-200 h-2"></div>
        <div class="w-full bg-blue-200 h-2"></div>

    </a>

    <main class="w-[40ch] mx-auto flex h-[400px] flex-col place-items-center justify-center">
        <div class="">
            <h1 class="font-bold">
                hi, my name is ava and this is my website
            </h1>
            <br>
            <p>
                i'm a web designer, graphic designer, and game maker. i like art and other people.
            </p>
            <p>
                this website is an almost exhaustive list of everything i've made. from the <a class="link" href="https://www.youtube.com/watch?v=QPz52Ze-gyU">dramatic</a> to the <a class="link" href="https://www.youtube.com/watch?v=eL0-nSGcCBM">whimsical</a>.
            </p>
            <p>
                if you want to make something with me, send me an <a class="link" href="mailto:avadinhvu@gmailcom">email</a> or message me on <a class="link" href="https://instagram.com/avavu.au">my instagram</a>
            </p>
        </div>
    </main>

</Layout>