---
import Layout from "../layouts/Layout.astro";
import Other from "../components/Other.svelte"
import { getCollection } from "astro:content";
import { collections } from "../content.config";

const music = await getCollection("music")
const video = await getCollection("video")
const games = await getCollection("games")
---

<Layout>
    <main class="p-12">
        <Other {games} {music} {video} client:only="svelte"/>
 
    </main>

</Layout>
