---
import Layout from "../layouts/Layout.astro"
import SubscribeForm from "../components/newsletter/Subscribe.svelte"



// Astro.redirect("")


---

<Layout title="Subscribe – Ava Vu">
    <header class="max-w-[600px] mx-auto text-center">
        <span class="text-7xl lg:text-9xl md:text-9xl ">
            AVAVU.AU
        </span>

        <div class="border-y border-black inline-flex gap-2 w-full justify-center">
            <a class="link" href="https://avavu.au">
                website
            </a>
            <span>
                <span class="border-r border-black">
                </span>
            </span>
            <span>
                newsletter
            </span>
        </div>
    </header>
    <main class="max-w-[600px] text-center  mx-auto pb-24 pt-12 text-sm px-8">
        <p class="pb-12">
            Subscribe for the monthly Ava newsletter.
        </p>

        <SubscribeForm client:idle></SubscribeForm>

        <p class="pt-12">
            Already subscribed?
        </p>

        <p>
            <a class="link" href="/newsletter">View the archive</a>
        </p>
        
    </main>
</Layout>
